# Ignore node_modules directory
node_modules

# Ignore environment variables files
.env
.env.*
!.env.example

# Ignore Vercel files
.vercel

# Ignore local environment variables files
.env*.local

# Ignore coverage reports
coverage/
